*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#toDoApp{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toDoInput{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    transition: all 0.3s ease;
}

#toDoInput:focus{
    background-color: white;
}

#btn1{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.685);
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn1:hover{
    background-color: rgba(255, 255, 255, 0.884);
}

#btn1:active{
    background-color: rgb(255, 255, 255);
}

#addTask{
    margin-bottom: 1rem;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem 3rem;
    min-width: 500px;
    border-radius: 10px;
}

.tasksDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.task{
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 300px;
}

.finished{
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 300px;
    color: rgba(0, 0, 0, 0.568);
    text-decoration: line-through;
}

.editBtn{
    background-color: green;
    padding: .5rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editBtn:hover{
    background-color: rgb(0, 158, 0);
}

.editBtn:active{
    background-color: rgb(0, 209, 0);
}

.removeBtn{
    background-color: rgb(116, 17, 0);
    padding: .5rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.removeBtn:hover{
    background-color: rgb(161, 24, 0);
}

.removeBtn:active{
    background-color: rgb(216, 32, 0);
}